.central {
    display: flex;             /* Включаем Flexbox для класса central background-image: url(/ktmback.jpg);*/
    justify-content: center;   /* Выравнивание по горизонтали*/
    align-items: center;       /* Выравнивание по вертикали*/
    height: 100vh;             /* Высота 100% от окна браузера */
    flex-direction: column;   /* Выравнивание элементов по вертикали */
}

.go_home_central {
    position: absolute; /* игнорирует поток,margin_right для отступа между объектами */
    right: 20px;       
    top: 0px; 
}
.card_slogan {
    border-color: rgb(255, 102, 0);
    color: rgb(255, 102, 0);
    font-family: blender-pro;
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.card_heading {
    border-color:rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.main_buttons {
    width: 300px;
    margin-right: 20xp;
    align-items: center;
    background-color: rgb(255, 102, 0);
    border-color: rgb(255, 102, 0);
    border-width: 0.8px;
    color: rgb(255, 255, 255);
    font-family: trade-gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    text-align: center;
    cursor: pointer;
}

.main_buttons.option_buttons {
    width: 200px;
}
.main_buttons:hover {
    background: #fff; /* при наведение курсора на кнопку, она будет окрашена в белый */
    color: #f60;
    border-color: #f60;
    border: 1px solid;
}
.card {
    border: none; /* Убираем границу */
    box-shadow: none;
    transition: box-shadow 0.5s ease;
    /*анимация при наведении 0.5 секунды с естественным замедлением*/
}

.card:hover {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    /*создаем тень в элементе, 0 0 0 - нулевые 
    смещения по x, y и нулевой радиус размытия тени
    2px - толщина тени, 0.2 - прозрачность */
}
.add_btn_central {
    text-align: center; 
    margin-top: -90px;
}

.card_descriptions {
    text-align: left;
    font-size: 18px;
    font-family: trade-gothic
}

.filter_style_rang {
    position: absolute;
    top: 670px; 
    left: 20px;
    cursor: pointer;
}

.filter_style_span {
    position: absolute;
    top: 640px; 
    left: 20px;
    font-size: 20px;
}

.go_home_btn {
    border: none; /* Убираем границу кнопки */
    background: none; /* Убираем фон */
    padding: 0; /* Убираем внутренние отступы */
    cursor: pointer; 
    display: inline-block; /* Чтобы кнопка вела себя как блок */
    
}

.featuresStyle {
    margin-top: -200px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border-left: 4px solid #ff6600;
}
.functionStyle {
    margin-top: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border-left: 4px solid #ff6600;
}

.customize-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* промежутки между формами */
    /*без flex контейнера gap не работает*/
}

.form-line {
    display: flex;
    gap: 12px;
    align-items: center;
}

.form-line label {
    width: 250px;
    text-align: left;
    font-size: 20px;
}

.form-line input{
    width: 400px;
    font-size: 20px;
}

.card_heading.form_style {
    font-weight: 500;
}

.card_slogan.form_slogan {
    color: rgb(0, 0, 0);
    height: 50px;
    border-color: rgb(255, 102, 0);
    text-align: left;
}

.apply_btn_central {
    text-align: center; 
    margin-top: 50px;
}